@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');

body {
      overflow-x: hidden;
      font-family: 'Heebo', sans-serif;
      color: #505962;
}

/*--- Navigation --*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.6)
}
.navbar-brand img {
    height: 2rem;
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #3399FF;
}

/*--- Landing Page --*/
 .home-inner {
    background-image: url(img/Trail2.JPG);
    opacity: .9;
 }
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
}
.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}
.btn-lg {
    border-width: medium;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
    color: white;
    background-color: #3399FF;
    outline-color: #3399FF;
}

/*--- Menu Section --*/
.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
}
.btn-secondary {
    border-width: medium;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: white;
    background-color: #3399FF;
    border-color: #3399FF;
}
.btn-secondary:hover {
    background-color: #0066FF;
    border-color: #0066FF;
}
.menu img {
    width: 60%;
    alignment-adjust: central;
    
}

/*--- Contact Section --*/
footer {
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}
footer h4 {
    height: 3rem;
    margin: 1.5rem 0;
    color: #3399FF;
}
footer strong {
    color: #3399FF;
}
footer a {
    color: white;
}
footer svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}
footer svg-inline--fa:hover {
    color: #FFFFFF;
}
hr.socket {
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem; 
}
.contact img {
    max-width: 55%;
    padding-bottom: 1.2rem;
    border: 0px solid;
    border-style: inset;
    border-radius: 5px;
}

/*--- Media Queries --*/

@media (max-wedith: 767px) {
.caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
}
.caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
}
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
}
.narrow h1 {
    font-size: 1.5rem;
}    
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
